#Artificial Neural Network

##Importing the libraries

In [103]:
import numpy as np
import pandas as pd
import tensorflow as tf

##Data Preprocessing

Importing the dataset

In [104]:
dataset=pd.read_csv('Churn_Modelling.csv')
inputs=dataset.iloc[:,3:-1].values
target=dataset.iloc[:,-1].values
dataset

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [105]:
inputs

array([[619, 'France', 'Female', ..., 1, 1, 101348.88],
       [608, 'Spain', 'Female', ..., 0, 1, 112542.58],
       [502, 'France', 'Female', ..., 1, 0, 113931.57],
       ...,
       [709, 'France', 'Female', ..., 0, 1, 42085.58],
       [772, 'Germany', 'Male', ..., 1, 0, 92888.52],
       [792, 'France', 'Female', ..., 1, 0, 38190.78]], dtype=object)

In [106]:
target

array([1, 0, 1, ..., 1, 1, 0])

Encoding categorical data

Label encoding the "gender" column

In [107]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
inputs[:,2] = le.fit_transform(inputs[:,2])

In [108]:
inputs[:,2]

array([0, 0, 0, ..., 0, 1, 0], dtype=object)

One hot encoding the "Geography" column

In [109]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(), [1])], remainder='passthrough')
inputs = np.array(ct.fit_transform(inputs))

In [110]:
inputs

array([[1.0, 0.0, 0.0, ..., 1, 1, 101348.88],
       [0.0, 0.0, 1.0, ..., 0, 1, 112542.58],
       [1.0, 0.0, 0.0, ..., 1, 0, 113931.57],
       ...,
       [1.0, 0.0, 0.0, ..., 0, 1, 42085.58],
       [0.0, 1.0, 0.0, ..., 1, 0, 92888.52],
       [1.0, 0.0, 0.0, ..., 1, 0, 38190.78]], dtype=object)

Splitting the dataset into training set and test set

In [111]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(inputs, target, test_size = 0.2, random_state = 1)

Feature scailing

In [112]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

##Building the ANN

initializing the ANN

In [113]:
ann=tf.keras.models.Sequential()

adding the input layer and the first hidden layer

In [114]:
ann.add(tf.keras.layers.Dense(units=6,activation='relu'))

adding the second hidden layer

In [115]:
ann.add(tf.keras.layers.Dense(units=6,activation='relu'))

adding the output layer

In [116]:
ann.add(tf.keras.layers.Dense(units=1,activation='sigmoid'))

##Training the ANN

compiling the ANN

In [117]:
ann.compile(optimizer='adam',loss='binary_crossentropy',metrics=['accuracy'])

training the ANN on the training set

In [118]:
ann.fit(X_train,y_train,batch_size=32,epochs=100)

Epoch 1/100
250/250 [==============================] - 2s 3ms/step - loss: 0.5295 - accuracy: 0.7725
Epoch 2/100
250/250 [==============================] - 1s 3ms/step - loss: 0.4630 - accuracy: 0.7986
Epoch 3/100
250/250 [==============================] - 1s 3ms/step - loss: 0.4481 - accuracy: 0.8020
Epoch 4/100
250/250 [==============================] - 1s 4ms/step - loss: 0.4399 - accuracy: 0.8067
Epoch 5/100
250/250 [==============================] - 1s 3ms/step - loss: 0.4346 - accuracy: 0.8085
Epoch 6/100
250/250 [==============================] - 1s 3ms/step - loss: 0.4311 - accuracy: 0.8102
Epoch 7/100
250/250 [==============================] - 1s 5ms/step - loss: 0.4288 - accuracy: 0.8117
Epoch 8/100
250/250 [==============================] - 1s 6ms/step - loss: 0.4266 - accuracy: 0.8134
Epoch 9/100
250/250 [==============================] - 1s 5ms/step - loss: 0.4247 - accuracy: 0.8131
Epoch 10/100
250/250 [==============================] - 1s 3ms/step - loss: 0.4222 - accuracy: 0.8156
Epoch 11/100
250/250 [==============================] - 1s 4ms/step - loss: 0.4199 - accuracy: 0.8177
Epoch 12/100
250/250 [==============================] - 1s 3ms/step - loss: 0.4167 - accuracy: 0.8207
Epoch 13/100
250/250 [==============================] - 1s 4ms/step - loss: 0.4136 - accuracy: 0.8239
Epoch 14/100
250/250 [==============================] - 1s 4ms/step - loss: 0.4103 - accuracy: 0.8255
Epoch 15/100
250/250 [==============================] - 1s 4ms/step - loss: 0.4072 - accuracy: 0.8278
Epoch 16/100
250/250 [==============================] - 1s 4ms/step - loss: 0.4045 - accuracy: 0.8291
Epoch 17/100
250/250 [==============================] - 1s 4ms/step - loss: 0.4016 - accuracy: 0.8280
Epoch 18/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3986 - accuracy: 0.8300
Epoch 19/100
250/250 [==============================] - 1s 6ms/step - loss: 0.3957 - accuracy: 0.8294
Epoch 20/100
250/250 [==============================] - 2s 7ms/step - loss: 0.3928 - accuracy: 0.8299
Epoch 21/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3895 - accuracy: 0.8299
Epoch 22/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3863 - accuracy: 0.8313
Epoch 23/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3834 - accuracy: 0.8317
Epoch 24/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3802 - accuracy: 0.8316
Epoch 25/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3767 - accuracy: 0.8329
Epoch 26/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3730 - accuracy: 0.8379
Epoch 27/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3700 - accuracy: 0.8422
Epoch 28/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3663 - accuracy: 0.8440
Epoch 29/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3638 - accuracy: 0.8482
Epoch 30/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3606 - accuracy: 0.8503
Epoch 31/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3582 - accuracy: 0.8534
Epoch 32/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3554 - accuracy: 0.8535
Epoch 33/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3534 - accuracy: 0.8555
Epoch 34/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3519 - accuracy: 0.8568
Epoch 35/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3496 - accuracy: 0.8587
Epoch 36/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3486 - accuracy: 0.8585
Epoch 37/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3474 - accuracy: 0.8605
Epoch 38/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3461 - accuracy: 0.8612
Epoch 39/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3451 - accuracy: 0.8606
Epoch 40/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3440 - accuracy: 0.8619
Epoch 41/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3432 - accuracy: 0.8597
Epoch 42/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3421 - accuracy: 0.8599
Epoch 43/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3425 - accuracy: 0.8597
Epoch 44/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3406 - accuracy: 0.8615
Epoch 45/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3404 - accuracy: 0.8614
Epoch 46/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3401 - accuracy: 0.8629
Epoch 47/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3401 - accuracy: 0.8591
Epoch 48/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3395 - accuracy: 0.8621
Epoch 49/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3392 - accuracy: 0.8616
Epoch 50/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3390 - accuracy: 0.8622
Epoch 51/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3391 - accuracy: 0.8597
Epoch 52/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3387 - accuracy: 0.8608
Epoch 53/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3385 - accuracy: 0.8596
Epoch 54/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3387 - accuracy: 0.8629
Epoch 55/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3380 - accuracy: 0.8608
Epoch 56/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3381 - accuracy: 0.8591
Epoch 57/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3380 - accuracy: 0.8600
Epoch 58/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3379 - accuracy: 0.8605
Epoch 59/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3379 - accuracy: 0.8597
Epoch 60/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3373 - accuracy: 0.8631
Epoch 61/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3372 - accuracy: 0.8596
Epoch 62/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3379 - accuracy: 0.8605
Epoch 63/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3375 - accuracy: 0.8604
Epoch 64/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3374 - accuracy: 0.8600
Epoch 65/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3371 - accuracy: 0.8611
Epoch 66/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3366 - accuracy: 0.8600
Epoch 67/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3372 - accuracy: 0.8602
Epoch 68/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3369 - accuracy: 0.8610
Epoch 69/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3372 - accuracy: 0.8622
Epoch 70/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3368 - accuracy: 0.8624
Epoch 71/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3369 - accuracy: 0.8614
Epoch 72/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3368 - accuracy: 0.8615
Epoch 73/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3366 - accuracy: 0.8614
Epoch 74/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3368 - accuracy: 0.8614
Epoch 75/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3368 - accuracy: 0.8611
Epoch 76/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3365 - accuracy: 0.8618
Epoch 77/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3362 - accuracy: 0.8606
Epoch 78/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3363 - accuracy: 0.8622
Epoch 79/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3367 - accuracy: 0.8616
Epoch 80/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3363 - accuracy: 0.8601
Epoch 81/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3366 - accuracy: 0.8605
Epoch 82/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3359 - accuracy: 0.8615
Epoch 83/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3365 - accuracy: 0.8599
Epoch 84/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3364 - accuracy: 0.8610
Epoch 85/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3361 - accuracy: 0.8602
Epoch 86/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3362 - accuracy: 0.8605
Epoch 87/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3360 - accuracy: 0.8614
Epoch 88/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3366 - accuracy: 0.8599
Epoch 89/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3361 - accuracy: 0.8606
Epoch 90/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3362 - accuracy: 0.8625
Epoch 91/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3363 - accuracy: 0.8608
Epoch 92/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3362 - accuracy: 0.8614
Epoch 93/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3357 - accuracy: 0.8609
Epoch 94/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3361 - accuracy: 0.8612
Epoch 95/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3362 - accuracy: 0.8599
Epoch 96/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3356 - accuracy: 0.8614
Epoch 97/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3358 - accuracy: 0.8608
Epoch 98/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3362 - accuracy: 0.8604
Epoch 99/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3355 - accuracy: 0.8618
Epoch 100/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3350 - accuracy: 0.8625

##Making the predictions and evaluating the model

In [122]:
new_Input=[[1,0,0,600,1,40,3,60000,2,1,1,50000]]
print(ann.predict(sc.transform(new_Input))>0.5)

1/1 [==============================] - 0s 19ms/step
[[False]]

predicting the test results

In [123]:
y_pred = ann.predict(X_test)
y_pred = (y_pred > 0.5)
print(np.concatenate((y_pred.reshape(len(y_pred),1), y_test.reshape(len(y_test),1)),1))

63/63 [==============================] - 0s 2ms/step
[[0 0]
 [0 0]
 [0 0]
 ...
 [0 0]
 [0 0]
 [1 0]]

Making the confusion matrix

In [124]:
from sklearn.metrics import confusion_matrix, accuracy_score
cm = confusion_matrix(y_test, y_pred)
print(cm)
accuracy_score(y_test, y_pred)

[[1518   67]
 [ 212  203]]

0.8605